img.fixed {
  position: fixed;
  top: 0;
  margin-left: 93%;
  margin-top: 40%;
  width: 6%;
}

/* Styles responsive web */
@media screen and (max-width: 1500px) {
  img.fixed {
    position: fixed;
    top: 0;
    margin-left: 80%;
    margin-top: 37%;
    width: 10%;
  }
}

@media screen and (max-width: 1230px) {
  img.fixed {
    position: fixed;
    top: 0;
    margin-left: 59%;
    margin-top: 37%;
    width: 10%;
  }
}
