img.fixed {
  position: fixed;
  top: 0;
  margin-left: 59%;
  margin-top: 37%;
  width: 10%;
}

/* Styles responsive web */
@media screen and (max-width: 1500px) {
  img.fixed {
    position: fixed;
    top: 0;
    margin-left: 59%;
    margin-top: 37%;
    width: 10%;
    margin-bottom: 20%;
  }
}
